@use './colors.scss';
@use '../fonts/fonts.scss';
@import-normalize;

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: var(--raleway-font);
  font-size: 16px;
}

button {
  cursor: pointer;
  background: none;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}