:root {
    --white: rgba(255, 255, 255, 1);
    --green: rgba(94, 206, 123, 1);
    --black: rgba(29, 31, 34, 1);
    --gray: rgba(141, 143, 154, 1);
    --gray-modal-active: rgba(57, 55, 72, 0.22);
    --gray-transparent: rgba(238, 238, 238, 1);
    --black-01: rgba(67, 70, 78, 1);
}